body {
    background-color: rgba(240, 239, 242, 1);
}

.header__container {
    max-width: 1300px;
    margin: 0 auto;
}

.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}

.ttl__wrapper{
    display: flex;
}

.menu-btn{
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: blue;
    box-shadow: 3px 3px 5px rgba(119, 119, 119, 1);
    border-radius: 5px;
}
.top-line{
    position: absolute;
    top: 30%;
    right: 20px;
    transform: translateY(-50%);
    width: 10px;
    height: 1px;
    background-color: white;
}
.center-line {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 1px;
    background-color: white;
}
.under-line {
    position: absolute;
    top: 70%;
    right: 25px;
    transform: translateY(-50%);
    width: 5px;
    height: 1px;
    background-color: white;
}

.logo{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: blue;
    text-decoration: none;
    margin-left: 20px;
}

@media screen and (max-width: 1200px) {
    .header__item {
        display: block;
        padding: 50px 30px;
    }
}

@media screen and (max-width: 480px) {
    .header__item {
        display: block;
        padding: 50px 30px;
    }
}