.login__container{
    max-width: 450px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(119, 119, 119, 1);
    margin: 0 auto;
}

.ttl{
    color: white;
    background-color: blue;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
    margin: 0;
}

.email__wrapper{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.email__icon{
    padding-right: 10px;
}
.email__input{
    width: 300px;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
}

.password__wrapper{
    text-align: center;
    padding-bottom: 0px;
}
.password__icon {
    padding-right: 10px;
}
.password__input {
    width: 300px;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
}

.btn__wrapper{
    padding-block: 25px;
}
.btn{
    display: block;
    color: white;
    background-color: blue;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: 50px;
}

.form__error {
    color: red;
    text-align: left;
    padding-left: 100px;
}

@media screen and (max-width: 480px) {
    .login__container {
        max-width: 360px;
    }

    .email__input {
        width: 250px;
    }

    .password__input {
        width: 250px;
    }

    .btn {
        margin-right: 30px;
    }
}