.verify__container {
    max-width: 600px;
    margin: 100px auto;
}

.verify__item {
    background-color: rgba(235, 235, 235, 1);
    border-radius: 10px;
    padding: 50px 40px;
}

.verify__item p {
    margin-bottom: 20px;
}

.verify__item a {
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
    vertical-align: middle;
    padding: 5px 10px;
}

.verify__item a:hover {
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    padding: 5px 10px;
}

@media screen and (max-width: 850px) {
    .verify__container {
        max-width: 400px;
    }
}

@media screen and (max-width: 480px) {
    .verify__container {
        max-width: 250px;
    }
}